*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #305252;
    text-align: center;
}

main{
    padding: 30px 0;
}

.container {
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.game {
    height: 60vmin;
    width: 60vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 1.5vmin;
}

.box {
    height: 18vmin;
    width: 18vmin;
    background-color: white;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 8vmin;
    color: #488286;
    cursor: pointer;
}

#reset, #new, #viewOldGame{
    padding: 0.5rem;
    font-size: 0.7rem;
    background-color: #151616;
    border-radius: 0.5rem;
    border: none;
    color: white;
    cursor: pointer;
}

#winner {
    color: #008000;
    height: auto;
    padding: 5px 0;
}

.message {
    padding: 10px 0;
    height: 100vh;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box0{
    background-color: #f5f3f3;
}

.boxX{
    background-color: #e6ffff;
}


.hide {
    display: none;
}